
# CMake build trees
build/
build-*/
cmake-build-*/

# Debris from an accidental in-source configure
/CMakeCache.txt
/CMakeFiles/

# Symlink into the build tree, created at CMake configure time
/compile_commands.json
